<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fa38a">  <td>20/04/23 22:52:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PriorityTest.test1()[pri:2, instance:com.labs.testNGConcept.PriorityTest@5025a98f]">test1</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>20/04/23 22:52:43</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PriorityTest.test2()[pri:3, instance:com.labs.testNGConcept.PriorityTest@5025a98f]">test2</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>20/04/23 22:52:43</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PriorityTest.test3()[pri:1, instance:com.labs.testNGConcept.PriorityTest@5025a98f]">test3</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>20/04/23 22:52:43</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PriorityTest.test4()[pri:-2, instance:com.labs.testNGConcept.PriorityTest@5025a98f]">test4</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>20/04/23 22:52:43</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PriorityTest.test5()[pri:0, instance:com.labs.testNGConcept.PriorityTest@5025a98f]">test5</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>20/04/23 22:52:43</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PriorityTest.test6()[pri:-3, instance:com.labs.testNGConcept.PriorityTest@5025a98f]">test6</td> 
  <td>main@1852584274</td>   <td></td> </tr>
</table>
