<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Hubspot app regression test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beef9d">  <td>20/04/04 23:05:23</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SignUpTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.labs.testNGConcept.SignUpTest@5f2108b5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1491040891</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>20/04/04 23:05:23</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SignUpTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.labs.testNGConcept.SignUpTest@1e127982]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1109424251</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>20/04/04 23:05:35</td>   <td>11461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpTest.veriCreatAccountTest()[pri:1, instance:com.labs.testNGConcept.SignUpTest@1e127982]">veriCreatAccountTest</td> 
  <td>TestNG-test=sign up test-1@1769983797</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>20/04/04 23:05:35</td>   <td>11533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpTest.veriCreatAccountTest()[pri:1, instance:com.labs.testNGConcept.SignUpTest@5f2108b5]">veriCreatAccountTest</td> 
  <td>TestNG-test=login test-1@1166019589</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>20/04/04 23:05:43</td>   <td>19433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpTest.verifyAccountNameTest()[pri:2, instance:com.labs.testNGConcept.SignUpTest@1e127982]">verifyAccountNameTest</td> 
  <td>TestNG-test=sign up test-2@553395166</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>20/04/04 23:05:43</td>   <td>19975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpTest.verifyAccountNameTest()[pri:2, instance:com.labs.testNGConcept.SignUpTest@5f2108b5]">verifyAccountNameTest</td> 
  <td>TestNG-test=login test-2@625096287</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>20/04/04 23:05:44</td>   <td>21348</td> <td>&nbsp;</td><td title="&lt;&lt;SignUpTest.tearDown()[pri:0, instance:com.labs.testNGConcept.SignUpTest@5f2108b5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1491040891</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>20/04/04 23:05:45</td>   <td>21554</td> <td>&nbsp;</td><td title="&lt;&lt;SignUpTest.tearDown()[pri:0, instance:com.labs.testNGConcept.SignUpTest@1e127982]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1109424251</td>   <td></td> </tr>
</table>
