<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NaveenAutomation labs testNG Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>20/04/04 22:16:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SignUpTest.setUp()[pri:0, instance:com.labs.testNGConcept.SignUpTest@e45f292]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/04/04 22:16:48</td>   <td>11114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestWithParallel.setUp()[pri:0, instance:com.labs.testNGConcept.LoginTestWithParallel@5f2108b5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/04/04 22:16:58</td>   <td>21484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestWithParallel.signUpLinkTest()[pri:1, instance:com.labs.testNGConcept.LoginTestWithParallel@5f2108b5]">signUpLinkTest</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/04/04 22:17:04</td>   <td>27375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestWithParallel.tearDown()[pri:0, instance:com.labs.testNGConcept.LoginTestWithParallel@5f2108b5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/04/04 22:17:05</td>   <td>28023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpTest.veriCreatAccountTest()[pri:1, instance:com.labs.testNGConcept.SignUpTest@e45f292]">veriCreatAccountTest</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/04/04 22:17:06</td>   <td>29739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpTest.verifyAccountNameTest()[pri:2, instance:com.labs.testNGConcept.SignUpTest@e45f292]">verifyAccountNameTest</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/04/04 22:17:06</td>   <td>29801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestWithParallel.setUp()[pri:0, instance:com.labs.testNGConcept.LoginTestWithParallel@5f2108b5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/04/04 22:17:17</td>   <td>40135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestWithParallel.loginTest()[pri:3, instance:com.labs.testNGConcept.LoginTestWithParallel@5f2108b5]">loginTest</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/04/04 22:17:26</td>   <td>49168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestWithParallel.tearDown()[pri:0, instance:com.labs.testNGConcept.LoginTestWithParallel@5f2108b5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/04/04 22:17:26</td>   <td>49818</td> <td>&nbsp;</td><td title="&lt;&lt;SignUpTest.tearDown()[pri:0, instance:com.labs.testNGConcept.SignUpTest@e45f292]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
</table>
