<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Hub Spot Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:07</td>   <td>0</td> <td title="&gt;&gt;TestNGAnnotationsConcept.beforeSuite()[pri:0, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:07</td>   <td>14</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGAnnotationsConcept.beforeTest()[pri:0, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1491682165</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:07</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGAnnotationsConcept.beforeClass()[pri:0, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1491682165</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:07</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGAnnotationsConcept.setUp()[pri:0, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1491682165</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/04/04 16:14:07</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListenerTestConcept.test1()[pri:0, instance:com.labs.testNGConcept.ListenerTestConcept@6093dd95]">test1</td> 
  <td>TestNG-tests-1@696878688</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/04/04 16:14:07</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListenerTestConcept.test2()[pri:0, instance:com.labs.testNGConcept.ListenerTestConcept@6093dd95]">test2</td> 
  <td>TestNG-tests-1@696878688</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/04/04 16:14:07</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListenerTestConcept.test4()[pri:0, instance:com.labs.testNGConcept.ListenerTestConcept@6093dd95]">test4</td> 
  <td>TestNG-tests-1@696878688</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:20</td>   <td>13405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGAnnotationsConcept.test2()[pri:0, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">test2</td> 
  <td>TestNG-tests-2@1491682165</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:20</td>   <td>13410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGAnnotationsConcept.tearDown()[pri:0, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1491682165</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:21</td>   <td>14531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGAnnotationsConcept.setUp()[pri:0, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1491682165</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:34</td>   <td>26944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGAnnotationsConcept.signUpLinkTest()[pri:1, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">signUpLinkTest</td> 
  <td>TestNG-tests-2@1491682165</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:38</td>   <td>31054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGAnnotationsConcept.tearDown()[pri:0, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1491682165</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:39</td>   <td>32171</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGAnnotationsConcept.afterClass()[pri:0, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1491682165</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:39</td>   <td>32172</td> <td>&nbsp;</td><td title="&lt;&lt;TestNGAnnotationsConcept.afterTest()[pri:0, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1491682165</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>20/04/04 16:14:39</td>   <td>32187</td> <td title="&lt;&lt;TestNGAnnotationsConcept.afteSuite()[pri:0, instance:com.labs.testNGConcept.TestNGAnnotationsConcept@544fe44c]">&lt;&lt;afteSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
</table>
